* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1260px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 96px;
}

header .logo {
    font-family: 'Black Ops One', cursive;
    font-size: 2.6rem;
}

ul {
    display: flex;
    gap: 48px;
}
.menuLink {
    list-style: none;
}
.menuLink a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(177, 176, 176, 0.363);
}

.newsCardsRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cardsWithDescription{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cardsWithTitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.copy {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.copy h2 {
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
}
footer {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

